*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width:100%;
}
body{
    background-color: black;
    color: white;
}

.nav{
    background-color: rgb(23, 111, 111);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.nav2{
    display: flex; 
    gap: 50px;
    font-size: 20px;
}