*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width:100%;
}

body{
  background-color: black;
}
button{
  padding: 10px;
  margin: 10px;
  background-color: gray;
  color:black;
}