* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}
#parent {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
}
.card {
  width: 300px;
  height: 320px;
  padding: 35px 25px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid white;
}

.card img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid black;
}

.card .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.top button {
  border-radius: 10px;
  padding: 3px 6px;
  color: #5b5a5aff;
  border: 1px solid #5b5a5aff;
  display: flex;
  align-items: center;
  justify-content: start;
}

.center {
  margin: 40px 0;
}
.center h3 {
  font-size: 17px;
  text-wrap-style: inherit;
}
.center h3 span {
  font-size: 10px;
  color: #504c4c;
}

.center h2 {
  font-size: 20px;
}

.center #center-down {
  display: flex;
  gap: 10px;
}
#center-down h3 {
  font-size: 12px;
  background-color: #dfdfdf;
  padding: 2px 5px;
  border-radius: 5px;
  text-align: center;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #aeadad;
  padding: 20px 10px;
}

#bottom-up h3{
  font-size: 20px;
}
#bottom-up p{
  font-size: 10px;
}

.bottom button{
  padding: 5px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}