*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width:100%;
  background-color: #111;
}

input, button {
  background-color: #515050;
  padding: 10px 12px;
  margin: 10px;  
  
}